@font-face {
  font-family: 'iconfont';  /* project id 2505176 */
  src: url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.eot');
  src: url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.woff') format('woff'),
  url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2505176_nyxefkpw2qp.svg#iconfont') format('svg');
}