@font-face {
    font-family: 'iconfont';  /* project id 2476919 */
    src: url('//at.alicdn.com/t/font_2476919_845e178yayp.eot');
    src: url('//at.alicdn.com/t/font_2476919_845e178yayp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2476919_845e178yayp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2476919_845e178yayp.woff') format('woff'),
    url('//at.alicdn.com/t/font_2476919_845e178yayp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2476919_845e178yayp.svg#iconfont') format('svg');
  }